<footer class="main">
    <ul>
        <li class="nav-docs"><a href="docs">Lumen 中文文档</a></li>
        <li class="nav-docs"><a href="http://www.golaravel.com/laravel/docs" target="_blank">Laravel 中文文档</a></li>
        <li class="nav-community"><a href="http://wenda.golaravel.com" target="_blank">问答社区</a></li>
        <li class="nav-api"><a href="http://laravel.com/api/5.0/" target="_blank">API</a></li>
        <li class="nav-laracasts"><a href="https://laracasts.com" target="_blank">视频教程（国外）</a></li>
        <li class="nav-forge"><a href="https://forge.laravel.com" target="_blank">Forge</a></li>

    </ul>
    <p>Laravel is a trademark of Taylor Otwell. Copyright © Taylor Otwell.</p>
    <p class="less-significant"><a href="http://jackmcdade.com" target="_blank">Design by Jack McDade</a></p>
</footer>