<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                <article id="61" class="post tag-lumen tag-xin-ban-ben-fa-bu">

                    <header class="post-head">
                        <h1 class="post-title">天源UV无影胶、紫外线胶</h1>
                        <section class="post-meta">
                            <span class="author">作者：<a href="https://shop72818548.taobao.com/" target="_blank">济南天源奔奔商贸有限公司</a></span> •
                            <time class="post-date" datetime=" (绿色无公害、韧性高、高透明、粘性强、固化时间短)" title=" (绿色无公害、韧性高、高透明、粘性强、固化时间短)"> (绿色无公害、韧性高、高透明、粘性强、固化时间短)</time>
                        </section>
                    </header>

                    <section class="featured-media">
                        <img src="public/images/wuyingjiao.jpg" alt = '无影胶'>
                    </section>

                    <section class="post-content">
                        <p>无影胶（uv胶）又称光敏胶、紫外光固化胶，无影胶是一种必须通过紫外线光照射才能固化的一类胶粘剂，
                            它可以作为粘接剂使用，也可作为油漆、涂料、油墨等的胶料使用。UV是英文Ultraviolet Rays的缩写，即紫外光线。 紫外线(UV)是肉眼看不见的，是可见光以外的一段电磁辐射，波长在110~400nm的范围。无影胶固化原理是UV 固化材料中的光引发剂（或光敏剂）在紫外线的照射下吸收紫外光后产生活性自由基或阳离子，
                            引发单体聚合、交联化学反应，使粘合剂在数秒钟内由液态转化为固态。</p>

                        <p>－－－</p>

                        <p>淘宝店地址：<a target="_blank" href="https://item.taobao.com/item.htm?spm=a1z10.1-c.w4004-10568355103.4.RktHQd&id=44733633127">https://item.taobao.com/item.htm?spm=a1z10.1-c.w4004-10568355103.4.RktHQd&id=44733633127</a></p>
                    </section>

                </article>




            </main>

            <aside class="col-md-4 sidebar">
                <!-- start widget -->
                <!-- end widget -->

                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">联系我们</h4>
                    <div class="content community">
                        <p>电话：0531-68817761 </p>
                        <p>手机：15954112111 / 15106998883（管经理)</p>
                        <p>QQ：785888539 / 354577739 / 452545756</p>
                        <p>微信号：guanlumin1987</p>
                        <p>地址：济南市槐荫区美里湖北路金水湾别墅 </p>
                        <p>扫一扫加我：
                            <img width="300px" height="300px;" src="public/images/weixin.png" alt = '扫一扫加我'>
                        </p>
                        <!--<p>
                            <a href="http://wenda.golaravel.com/" title="Laravel中文网问答社区" target="_blank"
                              onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '问答社区'])">
                            <i class="fa fa-comments"></i>
                                问答社区
                            </a>
                        </p>-->
                    </div>
                </div>
                <!-- end tag cloud widget -->



            <!--    <div class="widget">
                    <h4 class="title">文档</h4>
                    <a href="http://lumen.golaravel.com/docs/" class="btn btn-default btn-block" target="_blank">Lumen 中文文档</a>
                    <a href="http://www.golaravel.com/laravel/docs/5.0/" class="btn btn-default btn-block" target="_blank">5.0 中文文档</a>
                    <a href="http://www.golaravel.com/laravel/docs/4.2/" class="btn btn-default btn-block" target="_blank">4.2 中文文档</a>
                    <a href="http://www.golaravel.com/laravel/docs/4.1/" class="btn btn-default btn-block" target="_blank">4.1 中文文档</a>
                    <a href="http://www.golaravel.com/laravel/docs/4.0/" class="btn btn-default btn-block" target="_blank">4.0 中文文档</a>
                </div>
-->
                <!-- start tag cloud widget -->
                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                        <a href="/tag/laravel-5-2/">Laravel 5.2</a>
                        <a href="/tag/spark/">Spark</a>
                        <a href="/tag/jing-xiang/">镜像</a>
                        <a href="/tag/xin-ban-ben-fa-bu/">新版本发布</a>
                        <a href="/tag/lts/">LTS</a>
                        <a href="/tag/wei-kuang-jia/">微框架</a>
                        <a href="/tag/lumen/">Lumen</a>
                        <a href="/tag/ming-ming-kong-jian/">命名空间</a>
                        <a href="/tag/laravel4/">Laravel4</a>
                        <a href="/tag/whoops/">Whoops</a>
                        <a href="/tag/event/">Event</a>
                        <a href="/tag/sheng-ji/">升级</a>
                        <a href="/tag/laravle5/">laravle5</a>
                        <a href="/tag/error-page/">错误页</a>
                        <a href="/tag/laravel-5/">Laravel 5</a>
                        <a href="/tag/artisan/">Artisan</a>
                        <a href="/tag/laravel-5-1/">Laravel 5.1</a>
                        <a href="/tag/lravel/">Lravel</a>

                    </div>
                </div>
                <!-- end tag cloud widget -->

                <!-- start widget -->
                <!-- end widget -->

                <!-- start widget -->
                <!-- end widget -->
            </aside>

        </div>
    </div>
</section>